*{
    box-sizing: border-box;
    margin: 0px;
}
body{
    background: #C4C4C4;
    font-family: sans-serif;
}
.header{
    text-align: center;
    margin: 30px auto;
    background-color: white;
    height: auto;
    width: 80%;
    border-radius: 16px;
    padding: 15px 50px;
}
.header input{
    padding-left: 5px;
    height: 30px;
    border: solid 0.9px;
    border-radius: 8px;
}
.header button{
    background-color: #439535;
    color: white;
    padding: 10px;
    width: 50%;
    display: block;
    margin: 15px auto;
    border-radius: 16px;
}
.listProducts{
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    padding: 48px 50px;
    border-radius: 16px;
    background-color: white;
    width: 80%;
    height: 600px;
    word-break: break-all;
    overflow: auto;
}
#tableProducts{
    word-break: break-all;
    overflow: auto;
}
td{
    text-align: center;
}
.searchProduct{
    position: absolute;
    right: 40px;
}
.searchProduct #searchProductByName{
    display: none;
}
.totalDiv{
    position: absolute;
    bottom: 50px;
    right: 30px;
    background: #C4C4C4;
    width: 40%;
    padding: 1rem;
}
#clearall{
    position: absolute;
    bottom: 60px;
    left: 30px;
}
